
<div class="d-header">
    <div class=" mat-d-title"  mat-dialog-title>
      <div class="title-text">{{data.fname}}  {{data.name}}</div>
      <div class=" close">
        <span class="close-icon">
          <mat-icon aria-hidden="false" aria-label="icon" (click)="onNoClick()">close</mat-icon>
        </span>
      </div>
    </div>
  </div>

<div mat-dialog-content class="mat-d-content ">

  <form [formGroup]="form">
    <div class="input-div wrapper ">
      <input mat-input  class="  form-control d-input"  formControlName = "fname"  [value]="data.fname" type="text">
      <input mat-input class=" form-control d-input" formControlName = "name" [value]="data.name" type="text">
      <input mat-input class="  form-control d-input" formControlName = "mname" [value]="data.mname"  type="text">
      <div  mat-input class=" form-control d-input" >
         <mat-form-field appearance="fill" >
          <mat-select  name="food" formControlName = "status" >
            <mat-option *ngFor="let item of status" [value]="item.id" >
              {{item.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>


<div class="dialog-errorMsg" *ngIf="errorMsg">
  <div class="dialog-errorMsg_text">{{errorMsg}}</div>
</div>

<div class="footer">
  <div class="save-button2">
    <button class="btn save-button"   type="submit"  (click)="send(form)" [disabled] = form.pristine >Сохранить</button>
  </div>
</div>
