<div class="main">
<form class="loginForm" [formGroup]="loginForm" (ngSubmit)="sendForm()">
  <div class="form-group">
    <div>
      <input mat-input id="login" class="form-control" placeholder="Login" type="text" formControlName = "login">
    </div>
    <div class="password">
      <input type={{type_text}} class="form-control" placeholder="password" formControlName = "password">
      <a class="password-control" (click)="show_hide_password();">
          <mat-icon svgIcon="{{svg_variable}}" aria-hidden="false" aria-label="SVG icon"></mat-icon>
      </a>
    </div>
    <div>
      <button class="btn" [disabled]="!loginForm.valid"   type="submit">войти</button>
    </div>
    <div *ngIf="error_text !== undefined && error_text.length > 0" class="error_text">{{error_text}}</div>
  </div>
</form>

</div>
